﻿<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>URL Shortener Microservice</title><!--Always force latest IE rendering engine (even in intranet) & Chrome Frame Remove this if you use the .htaccess-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Image Abstraction API Microservice" />
    <meta name="author" content="Rafase282" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
</head>
<body>
    <div class="container-fluid">
        <h1 class="header">Zixiang FCC Certification API: Image Abstraction API Microservice</h1>
        <blockquote>
            <p>User stories:</p>
            <ul>
                <li>I can pass in a search term or several search terms separated by space to search for realated images, and also specify the number of results I want to get back</li>
                <li>I will get a list of search results related to my search term.</li>
                <li>I can view the last 10 latest search terms executed on the api.</li>
            </ul>
        </blockquote>

        <h3>Example search usage:</h3>
        <code>http://zxfccimageabstraction.azurewebsites.net/api/imagesearch/cats</code><br />
        <code>http://zxfccimageabstraction.azurewebsites.net/api/imagesearch/cats and dogs</code>
        <code>http://zxfccimageabstraction.azurewebsites.net/api/imagesearch/cats?offset=5</code>

        <h3>Example search output</h3>
        <code>
            [
                {
                "Url": "http://imgur.com/a/hC3Yg",
                "Snippet": "Alice Bissonnet - Overwatch Heroes and Cats"
                },
                {
                "Url": "http://imgur.com/a/3sswk",
                "Snippet": "Nostalgic Cats and Dogs"
                },
                {
                "Url": "http://imgur.com/a/r3zHQ",
                "Snippet": "Cats and computer"
                }
            ]
        </code>

        <hr />

        <h3>Example view Latest Usage:</h3>
        <code>
            http://zxfccimageabstraction.azurewebsites.net/api/latest
        </code>

        <h3>Example view Latest output:</h3>
        <code>
            [
                {
                    "term": "cats",
                    "datetime": "2017-04-19T03:31:37.555Z"
                },
                {
                    "term": "cats and dogs",
                    "datetime": "2017-04-19T03:15:51.531Z"
                },
                {
                    "term": "cats dogs game",
                    "datetime": "2017-04-19T03:15:19.174Z"
                }
            ]
        </code>
    </div>
</body>
</html>
